<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./adminHead'); %>   
</head>
<body>
    <main>
        <%- include('./sidebar') %>
        <div class="container">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <% for(var i of Object.keys(data[0]._doc)) { %>
                            <th scope="col"><%= i %></th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>  
    </main>
    <!-- <div class="container h-100"> -->
        <%- //include('../header'); %>
    <!-- </div> -->
    <%- include('../script'); %>
    <script src="/js/admin.js"></script>
</body>
</html>