<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./adminHead'); %>   
</head>
<body>
    <%
    var keys = [], count = 0;
    for (fieldName in data[0]._doc) {
        keys[count++] = fieldName;
    } 
    %>
    <main>
        <%- include('./sidebar') %>
        <%- include('./table', {keys: keys, type: type, notView: notView}) %>
        
    </main>
    <% if(type == 'user') { %>
        <%- include('./modal-user',{keys: keys, addDefault: addDefault, eventList: eventList}); %>
    <% } else if(type=='event') { %>
        <%- include('./modal-event', {event: data}); %>
    <% } %>

    <%- include('../script'); %>
    <script src="/js/admin.js"></script>
</body>
</html>