<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./adminHead'); %>   
</head>
<body>
    <%
    var keys = [], count = 0;
    if(data.length != 0) { 
        for (fieldName in data[0]._doc) {
            keys[count++] = fieldName;
        } 
    }
    %>
    <main>
        <%- include('./sidebar') %>
        <div class="container">
            <div class="table-title mb-4">
                <span><%= type %> Data</span>
                <button class="btn btn-primary float-right add_<%= type %>" data-toggle="modal" data-target="#<%= type %>Modal">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <%- include('./search') %>
            <% if (data.length != 0) { %>
            <%- include('./table', {keys: keys, type: type, notView: notView}) %>
            <% } %>
        </div>
    </main>
    <% switch (type) {
        case 'user': %>
            <%- include('./modal-user',{keys: keys, addDefault: addDefault, eventList: eventList}); %>
            <% break;
        case 'event': %>
        
            <%- include('./modal-event', {event: eventList}); %>
            <% break;
        case 'card': %>
            <%- include('./modal-card', {event: eventList}); %>
            <% break;
    } %>
    <%- include('../script'); %>
    <script src="/js/admin.js"></script>
</body>
</html>