<div class="table-title">
    <span><%= type %> Data</span>
    <button class="btn btn-primary add_<%= type %>" data-toggle="modal" data-target="#<%= type %>Modal">
        <i class="fa-solid fa-plus"></i>
    </button>
</div>
<div class="d-flex overflow-auto">
    <table class="table table-striped table-dark mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <% for (key of keys) { if(notView.includes(key)) continue; %>
                    <th scope="col"><%= key %></th>
                <% } %>
                <th scope="col">actions</th>   
            </tr>
        </thead>
        <tbody>
            <% for (i in data) { %>
            <tr>
                <th scope="row"><%= i %></th>  
                <% for (key of keys) { if(notView.includes(key)) continue; %>
                <td nowrap>
                    <%= data[i][key] %>
                </td>
                <% } %>
                <td nowrap>
                    <button type="button" class="edit edit_<%= type %> btn btn-warning" data-toggle="modal" data-target="#<%= (type=='user')?'editUser':type %>Modal" value="<%= data[i]._id %>">
                        <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                    </button>
                    <% if (type == 'event') { %>
                    <button type="button" class="clone clone_<%= type %> btn btn-warning" data-toggle="modal" value="<%= data[i]._id %>">
                        <i class="fa-solid fa-clone"></i>
                    </button>
                    <% } %>
                    <button type="button" class="delete btn btn-danger" value="<%= data[i]._id %>">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>