<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./adminHead'); %>   
</head>
<body>
    <%
    var keys = [], count = 0;
    var fieldNames = Object.assign(user[0]._doc, userMain[0]._doc); 
    for (fieldName in fieldNames) {
        if(!notId.includes(fieldName)) {
            keys[count++] = fieldName;
        }
    } 
    %>
    <main>
        <%- include('./sidebar') %>
        <div class="container">
            <div class="table-title">
                <span>User Data</span>
                <button class="btn btn-primary add-new" data-toggle="modal" data-target="#addModal">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div class="d-flex overflow-auto">
                <table class="table table-striped table-dark mt-5">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <% for (key of keys) { %>
                                <th scope="col"><%= key %></th>
                            <% } %>
                            <th scope="col">actions</th>   
                        </tr>
                    </thead>
                    <tbody>
                        <% for (i in user) { var data = Object.assign(user[i]._doc, userMain[i]._doc); %>
                        <tr>
                            <th scope="row"><%= i %></th>  
                            <% for (key of keys) { %>
                            <td nowrap>
                                <%= data[key] %>
                            </td>
                            <% } %>
                            <td nowrap>
                                <button type="button" class="edit btn btn-warning">
                                    <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                                </button>
                                <button type="button" class="delete btn btn-danger" value="<%= data.userId %>">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <% var fieldName = keys.concat(addDefault); %>
    <div class="modal fade text-dark text-left" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="addUserForm" onsubmit="return false;">
                    <div class="modal-body">
                        <% for(key in fieldName) { if(!notAddDefault.includes(fieldName[key])) {%>
                        <div class="form-group">
                            <label class="col-form-label"><%= fieldName[key] %></label>
                            <input type="text" class="form-control" id="add_<%= fieldName[key] %>">
                        </div>
                        <% } } %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="saveBtn">Add User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../script'); %>
    <script>$('.nav-item:nth-child(2) > .nav-link').addClass('active');</script>
    <script src="/js/admin.js"></script>
</body>
</html>